{% extends "base.html" %}

{% block content %}
    <header><h1>Edit Store</h1></header>
    <section class="edit-store-form">
        <form method="post">
            <div class="form-group">
                <label for="name">Store name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="John Lewis" value="{{ store.name }}" disabled/>
            </div>
            <div class="form-group">
                <label for="url_prefix">Store URL prefix</label>
                <input type="text" class="form-control" id="url_prefix" name="url_prefix" placeholder="https://www.johnlewis.com"
                       value="{{ store.url_prefix }}"
                       aria-describedby="urlPrefixHelp"/>
                <small id="urlPrefixHelp" class="form-text text-muted">What is the common part of all URLs for this store?</small>
            </div>
            <div class="form-group">
                <label for="tag_name">Tag name</label>
                <input type="text" class="form-control" id="tag_name" name="tag_name" placeholder="span"
                       value="{{ store.tag_name }}" aria-describedby="tagNameHelp"/>
                <small id="tagNameHelp" class="form-text text-muted">What HTML tag contains the price information for items in this store?</small>
            </div>
<!--            <div class="form-group">-->
<!--                <label for="query">Query</label>-->
<!--                <input type="text" class="form-control" id="query" name="query" placeholder='{"class": "price price&#45;&#45;large"}'-->
<!--                       value="{{ store.query|tojson|safe }}" aria-describedby="queryHelp"/>-->
<!--                <small id="queryHelp" class="form-text text-muted">What query should be used to uniquely identify the price? Must be double quoted. </small>-->
<!--            </div>-->
            <div class="form-group">
                <label for="query">Query</label>
                <textarea  type="text" class="form-control" id="query" name="query" placeholder='{"class": "price price--large"}'
                            aria-describedby="queryHelp"/>{{ store.query|tojson|safe }}</textarea>
                <small id="queryHelp" class="form-text text-muted">What query should be used to uniquely identify the price? Must be double quoted. </small>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </section>
{% endblock %}
